<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Audio</title>
</head>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Call Key Word Stuff</title>
</head>

<body>
    <h1>Find Key Words and Segments</h1>

    <!-- Audio File Upload Section -->
    <div>
        <label for="audioFile">Choose an audio file and then press upload:</label>
        <input type="file" id="audioFile" accept="audio/*">
        <button onclick="upload_to_server()">Upload</button>
    </div>

    <!-- Display the uploaded audio -->
    <div>
        <audio controls id="uploadedAudio">
            <!-- This source element will be populated with the uploaded audio file -->
            <!-- Example: <source src="uploaded-audio.mp3" type="audio/mpeg"> -->
        </audio>
    </div>

    <button onclick="transcribe()">Transcribe Uploaded</button>
    <p id="transcribeResponse">Transcription will be shown here. Note: this may take a little bit as this is just a beta version without optimize</p>

    <h1>Search for Parts with Key Words</h1>
    <p>Enter in what you want the program to isolate. It will return to you sections of text that relate to the words you put in (enter multiple words and ideas if you want, seperate them by commas):</p>
    <input type="text" id="prompt" placeholder="Enter words and ideas">
    <button onclick="gpt_prompt()">Search</button>

    <p id="apiResponse">Parts about the key words will be shown here. Note: this may take an even longer time as any transcribes are not saved right now so it has to do it again</p>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>